<!-- add [Style] angular spec -->

<main class="weather-container">
  <img src="../../../assets/img/logo/Witch.png" alt="" class="logo" />
  <div class="city_selectionne_container">
    <ul class="city_list">
      <li class="city" (click)="loadParisName()">Paris</li>
      <li class="city" (click)="loadBordeauxName()">Bordeaux</li>
      <li class="city" (click)="loadStrasbourgName()" >Strasbourg</li>
      <li class="city" (click)="loadOrleansName()">Orleans</li>
      <li class="city" (click)="loadToulouseName()">Toulouse</li>
      <li class="city" (click)="loadBrestName()">Brest</li>
      <li class="city" (click)="loadMontpellierName()">Montpellier</li>
    </ul>
  </div>
  <div class="current_city">
    <img
      src="../../../assets/img/weather-icons/akar-icons_sun-fill.png"
      alt=""
      class="weather_icon"
    />
    <h1 class="current_city_title">{{cityName}}</h1>
    <h2 class="current_city_weather">{{cityWeather}}</h2>
    <h3 class="current_city_temp">{{cityTemp}}° C</h3>
  </div>

  <div class="footer_container">
    <div class="first_container">
      <div class="first_card">
        <h1>test</h1>
        <div class="box">
          <img src="https://via.placeholder.com/50" alt="">
          <p>t</p>
        </div>
      </div>
      <div class="second_card">
        <h1>test</h1>
        <div class="box">
          <img src="https://via.placeholder.com/50" alt="">
          <p>t</p>
        </div>
      </div>
    </div>

    <div class="second_container">
      <div class="first_card">
        <h1>test</h1>
        <div class="box">
          <img src="https://via.placeholder.com/50" alt="">
          <p>t</p>
        </div>
      </div>
      <div class="second_card">
        <h1>test</h1>
        <div class="box">
          <img src="https://via.placeholder.com/50" alt="">
          <p>t</p>
        </div>
      </div>
    </div>
    <div class="third_container">
        
      
    </div>
  </div>
</main>
