@import "../../../variable.scss";

@font-face {
  font-family: Sansation;
  src: url("../../../assets/fonts/Sansation_Regular.ttf");
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.weather-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../../../assets/img/bg/Clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  position: relative;

  .logo {
    position: absolute;
    left: 10px;
    top: -50px;
    width: 300px;
  }

  .city_selectionne_container {
    width: 30%;
    max-height: 370px;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;

    .city_list {
      display: flex;
      flex-direction: column;
      gap: 35px;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 45px;

      .city {
        font-size: $city-font-size;
        color: $font-color;
        font-weight: bold;
        font-family: $global-fonts;
        // font-family: Sansation;
        cursor: pointer;

        &:hover {
          transform: scale(110%);
          transition: 0.5s;
        }

        &:not(:hover) {
          transition: 0.5s;
        }
      }
    }
  }

  .stats{
    color: $font-color;
    font-family: $global-fonts;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: normal;
  }

  .svg{
    fill: white;
    height: 64px;
    width: 64px;
  }
  
  .svg-water{
    position: relative;
    fill: white;
    height: 100px;
    width: 100px;
    bottom: 15px;
  }

  #wind-stat{
    color: $font-color;
    font-size: 20px;
    font-family: $global-fonts;
    padding-right: 40px;
  }
  
  #feel-stat{
    color: $font-color;
    font-size: 20px;
    font-family: $global-fonts;
    padding-right: 90px;
  }
  
  #humidity-stat{
    color: $font-color;
    font-size: 20px;
    font-family: $global-fonts;
    padding-right: 120px;
  }
  
  #pressure-stat{
    color: $font-color;
    font-size: 20px;
    font-family: $global-fonts;
    padding-right: 40px;
  }

  #max-temp-stat{
    position: relative;
    top: 10px;
    color: $font-color;
    font-size: 30px;
    font-family: $global-fonts;
    padding-right: 40px;
    margin: 0;
  }
  
  #min-temp-stat{
    position: relative;
    top: 10px;
    color: $font-color;
    font-size: 30px;
    font-family: $global-fonts;
    padding-right: 40px;
    margin: 0;
  }

  img[alt="sunrise"]{
    height: 80px;
    width: 80px;
  }

  img[alt="sunset"]{
    height: 72px;
    width: 80px;
  }

  img[alt="high"]{
    position: relative;
    top: 10px;
    height: 31px;
    width: 32px;
  }
  
  img[alt="low"]{
    position: relative;
    top: 10px;
    height: 31px;
    width: 32px;
  }

  #sunrise-stat{
    color: $font-color;
    font-size: 25px;
    font-family: $global-fonts;
    padding-right: 180px;
  }

  #sunset-stat{
    color: $font-color;
    font-size: 25px;
    font-family: $global-fonts;
    padding-right: 180px;
  }

  .current_city {
    color: $font-color;
    position: absolute;
    top: 30%;
    left: 45%;
    text-align: center;
    font-size: $current-city-size;
    font-family: $global-fonts;

    .weather_icon {
      animation: clouds 5s infinite linear;
      width: 100px;
      margin-bottom: 20px;
    }
  }

  .footer_container {
    display: flex;
    position: absolute;
    width: 96vw;
    height: 30vh;
    bottom: 10px;
    border-radius: 30px;
    left: 2%;
    align-content: center;

    .first_container {
      width: 20%;
      height: 80%;
      margin-top: 35px;
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .first_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;
      }

      .second_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;
      }
    }

    .second_container {
      display: flex;
      flex-direction: column;
      width: 20%;
      height: 80%;
      margin-top: 35px;
      margin-left: 105px;
      gap: 20px;

      .first_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;
      }

      .second_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;
      }
    }

    .third_container {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 85%;
      margin-top: 35px;
      margin-left: 105px;
      background-color: $card-color;
      border-radius: 30px;
    }

    .fourth_container {
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 85%;
      margin-top: 35px;
      margin-left: 105px;
      gap: 20px;
      border-radius: 30px;

      .first_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;
      }

      .second_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;
      }
    }
  }
}

@keyframes sun {
  0%{
    transform: rotate(0deg) scale(100%);
  }
  50%{
    transform: rotate(360deg) scale(120%);
  }
  100%{
    transform: rotate(0deg) scale(100%);
  }
}

@keyframes clouds {
  0%{
    transform: translateX(0px) scale(100%);
    opacity: 1;
  }

  25%{
    transform: translateX(-50px) scale(110%);
    opacity: 0.75;
  }
  50%{
    transform: translateX(0px) scale(120%);
    opacity: 0.50;
  }
  75%{
    transform: translateX(50px) scale(110%);
    opacity: 0.75;
  }
  100%{
    transform: translateX(0px) scale(100%);
    opacity: 1;
  }
}


.box{
  display: flex;
  justify-content: space-evenly;
}