//===================IMPORT=================
@import "../../../variable.scss";

//===================FONT=================
@font-face {
  font-family: Sansation;
  src: url("../../../assets/fonts/Sansation_Regular.ttf");
}

//===================SCSS=================
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Sansation;
}

.weather-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  position: relative;
  transition: 0.5s;

  .favorite_container{
    width: 30%;
    max-height: 250px;
    background-color: rgba(255, 255, 255, 20%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    right: 20px;
    top: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
    animation: appear 1.5s;
    transition: .5s;
    animation: fromRightSide 2s;

    .favorite{
      font-size: 40px;
      color: white;
      text-align: center;
    }

    .favorite_list{
      display: flex;
      flex-direction: column;
      gap: 35px;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 45px;
      margin-bottom: 45px; 

      .li_displaying{
        display: flex;
        justify-content: center;
        gap: 30px;
      }

      .material-icons{
        color: white;
        transition: .5s;

        &:hover{
          transform: scale(120%);
          transition: .5s;
          cursor: pointer;
        }

        &:not(:hover){
          transition: .5s;
        }
      }

      .favorite_item {
        font-size: $city-font-size;
        color: $font-color;
        font-weight: bold;
        font-family: $global-fonts;
        cursor: pointer;

        &:hover {
          transform: scale(110%);
          transition: 0.5s;
        }

        &:not(:hover) {
          transition: 0.5s;
        }
      }
    }
    
  }
  

  .logo {
    position: absolute;
    left: 10px;
    top: -50px;
    width: 300px;
    animation: 1s drop;
  }

  .city_selectionne_container {
    width: 30%;
    max-height: 370px;
    background-color: rgba(255, 255, 255, 20%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    animation: appear 1.5s;
    

    .city_list {
      display: flex;
      flex-direction: column;
      gap: 35px;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 45px;
      margin-bottom: 45px;

      .li_displaying{
        display: flex;
        justify-content: center;
        gap: 30px;

        .material-icons{
          color: white;
  
          &:hover{
            transform: scale(120%);
            transition: .5s;
            cursor: pointer;
          }
  
          &:not(:hover){
            transition: .5s;
          }
        }

      }

      :nth-child(2n+0){
        animation: fromLeftSide 1s;
      }

      :nth-child(2n+1){
        animation: fromRightSide 1s;
      }

      .city {
        font-size: $city-font-size;
        color: $font-color;
        font-weight: bold;
        font-family: $global-fonts;
        cursor: pointer;

        &:hover {
          transform: scale(110%);
          transition: 0.5s;
        }

        &:not(:hover) {
          transition: 0.5s;
        }
      }
    }

    .favorite{
      color: white;
      text-align: center;
      font-size: 60px;
    }

    .favorite_list{
      display: flex;
      flex-direction: column;
      gap: 35px;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 45px;
      margin-bottom: 45px;

      :nth-child(2n+0){
        animation: fromLeftSide 1s;
      }

      :nth-child(2n+1){
        animation: fromRightSide 1s;
      }
      }
    }
  }

  .current_city {
    color: $font-color;
    position: absolute;
    top: 15%;
    left: 45%;
    text-align: center;
    font-size: $current-city-size;
    font-family: $global-fonts;
    animation: 1s drop;

    .weather_icon {
      animation: clouds 10s infinite linear;
      width: 200px;
      margin-bottom: 20px;
      filter: invert(100%);
    }

    .sun{
      animation: sun 10s infinite linear;
      width: 200px;
      margin-bottom: 20px;
      filter: invert(100%);
    }
  }

  .footer_container {
    display: flex;
    position: absolute;
    width: 96vw;
    height: 30vh;
    bottom: 10px;
    border-radius: 30px;
    left: 2%;
    align-content: center;
    animation: up 1s;

    .first_container {
      width: 20%;
      height: 80%;
      margin-top: 35px;
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .first_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;

        .stats {
          color: $font-color;
          font-family: $global-fonts;
          padding-left: 20px;
          margin-top: 10px;
          margin-bottom: 0;
          font-weight: normal;
        }
      }

      .second_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;

        .stats {
          color: $font-color;
          font-family: $global-fonts;
          padding-left: 20px;
          margin-top: 10px;
          margin-bottom: 0;
          font-weight: normal;
        }
      }
    }

    .second_container {
      display: flex;
      flex-direction: column;
      width: 20%;
      height: 80%;
      margin-top: 35px;
      margin-left: 105px;
      gap: 20px;

      .first_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;

        .stats {
          color: $font-color;
          font-family: $global-fonts;
          padding-left: 20px;
          margin-top: 10px;
          margin-bottom: 0;
          font-weight: normal;
        }
      }

      .second_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;

        .stats {
          color: $font-color;
          font-family: $global-fonts;
          padding-left: 20px;
          margin-top: 10px;
          margin-bottom: 0;
          font-weight: normal;
        }
      }
    }

    .third_container {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 85%;
      margin-top: 35px;
      margin-left: 105px;
      background-color: $card-color;
      border-radius: 30px;
      .stats {
        color: $font-color;
        font-family: $global-fonts;
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        font-weight: normal;
      }
    }

    .fourth_container {
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 85%;
      margin-top: 35px;
      margin-left: 105px;
      gap: 20px;
      border-radius: 30px;

      .first_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;
        .stats {
          color: $font-color;
          font-family: $global-fonts;
          padding-left: 20px;
          margin-top: 10px;
          margin-bottom: 0;
          font-weight: normal;
        }
      }

      .second_card {
        background-color: $card-color;
        width: 100%;
        height: 50%;
        border-radius: 30px;
        .stats {
          color: $font-color;
          font-family: $global-fonts;
          padding-left: 20px;
          margin-top: 10px;
          margin-bottom: 0;
          font-weight: normal;
        }
      }
    }
  }

  .svg {
    fill: white;
    height: 64px;
    width: 64px;
  }

  .svg-water {
    position: relative;
    fill: white;
    height: 100px;
    width: 100px;
    bottom: 15px;
  }

  #wind-stat {
    color: $font-color;
    font-size: 20px;
    font-family: $global-fonts;
    padding-right: 40px;
  }

  #feel-stat {
    color: $font-color;
    font-size: 20px;
    font-family: $global-fonts;
    padding-right: 90px;
  }

  #humidity-stat {
    color: $font-color;
    font-size: 20px;
    font-family: $global-fonts;
    padding-right: 120px;
  }

  #pressure-stat {
    color: $font-color;
    font-size: 20px;
    font-family: $global-fonts;
    padding-right: 40px;
  }

  #max-temp-stat {
    position: relative;
    top: 10px;
    color: $font-color;
    font-size: 30px;
    font-family: $global-fonts;
    padding-right: 40px;
    margin: 0;
  }

  #min-temp-stat {
    position: relative;
    top: 10px;
    color: $font-color;
    font-size: 30px;
    font-family: $global-fonts;
    padding-right: 40px;
    margin: 0;
  }

  img[alt="high"] {
    position: relative;
    top: 10px;
    height: 31px;
    width: 32px;
  }

  img[alt="low"] {
    position: relative;
    top: 10px;
    height: 31px;
    width: 32px;
  }

  #sunrise-stat {
    color: $font-color;
    font-size: 25px;
    font-family: $global-fonts;
    padding-right: 180px;
  }

  #sunset-stat {
    color: $font-color;
    font-size: 25px;
    font-family: $global-fonts;
    padding-right: 180px;
  }

  .box {
    display: flex;
    justify-content: space-evenly;
  
    .sunrise {
      height: 80px;
      width: 80px;
      fill: white;
    }
  
    .sunset {
      height: 72px;
      width: 80px;
      fill: white;
    }
  }


//===================ANIM=================

@keyframes clouds {
  0% {
    transform: translateX(0px) scale(100%);
  }

  25% {
    transform: translateX(-50px) scale(110%);
  }
  50% {
    transform: translateX(0px) scale(120%);
  }
  75% {
    transform: translateX(50px) scale(110%);
  }
  100% {
    transform: translateX(0px) scale(100%);
  }

}

@keyframes sun {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes drop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fromLeftSide {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fromRightSide {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes up {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
